<div class="p-3">
     <div class="card">
           <div class="card-body">
                <ul  class="nav nav-pills">
                  <label class="m-1 p-1 border-info bg-success text-white border-2">Page: {{this.appState.productState.currentPage}} </label>
                  <label class="m-1 p-1 border-info  bg-warning text-white border-2">Size: {{this.appState.productState.size}} </label>
                  <label class="m-1 p-1 border-info bg-danger text-white border-2">TotalPage: {{this.appState.productState.totalPages}} </label>
                  <label class="m-1 p-1 border-info bg-primary text-white border-2">Total Products: {{this.appState.productState.totalPages * this.appState.productState.size}} </label>
                </ul>
           </div>
     </div>
</div>
